# ignore all
*

!coc-settings.json
!.gitignore
!vimrc
!vimrc.config
!vimrc.maps
!vimrc.plugins

!vimrc.plugins.config
!vimrc.plugins.functions
!vimrc.plugins.maps

!bitmaps/
!bitmaps/vim.ico
!autoload/
!autoload/utils.vim
!autoload/install.vim
!after/
!after/**/*
